@model OrangeBricks.Web.Controllers.Appointments.ViewModels.MyAppointmentsViewModel

@using OrangeBricks.Web.Models

@{
    ViewBag.Title = "Your Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />

<p>Here you can see the appointment requests that you have made.</p>

@if (Model.HasRequestedAppointments)
{
    <p>You have made @Model.Appointments.Count appointment requests ...</p>

    <div class="row">
        <div class="col-sm-3">
            <strong>Property Type</strong>
        </div>
        <div class="col-sm-3">
            <strong>Property Street</strong>
        </div>
        <div class="col-sm-3">
            <strong>Appointment Date</strong>
        </div>
        <div class="col-sm-3">
            <strong>Appointment Status</strong>
        </div>
    </div>

    foreach (var appointment in Model.Appointments)
    {
        <hr />

        <div class="row">
            <div class="col-sm-3">
                @appointment.PropertyType
            </div>
            <div class="col-sm-3">
                @appointment.PropertyStreetName
            </div>
            <div class="col-sm-3">
                @appointment.AppointmentDate
            </div>
            <div class="col-sm-3">
                @switch (appointment.AppointmentStatus)
                {
                    case AppointmentStatus.Accepted:
                        <strong class="text-success">Accepted</strong>
                        break;
                    case AppointmentStatus.Declined:
                        <strong class="text-danger">Declined</strong>
                        break;
                    default:
                        @:Pending
                        break;
                }
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        You have not made any appointment requests yet!
    </div>
}
