@model OrangeBricks.Web.Controllers.Property.ViewModels.MyPropertiesViewModel

@{
    ViewBag.Title = "My Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Properties</h2>
<br />

@if (Model.HasProperties)
{
    <p>Here is a list of your properties:</p>

    foreach (var property in Model.Properties)
    {
        <hr />

        <div class="row">
            <div class="col-sm-9">
                <h3 class="mtop0">
                    @property.StreetName
                    <small>
                        @property.NumberOfBedrooms bedroom @property.PropertyType
                    </small>
                </h3>
                <p>@property.Description</p>
            </div>
            <div class="col-sm-3">

                @if (!property.IsListedForSale)
                {
                    using (Html.BeginForm("ListForSale", "Property"))
                    {
                        @Html.Hidden("PropertyId", property.Id)
                        <input class="btn btn-red" type="submit" value="List Property For Sale" />
                    }
                }
                else
                {
                    <p>
                        <a href="@Url.Action("OnProperty", "Offers", new {id = property.Id})">Offers</a>
                    </p>
                    <a href="@Url.Action("OnProperty", "Appointments", new {id = property.Id})">Appointments</a>
                }
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        You have not added any properties yet!
    </div>
}
