@model OrangeBricks.Web.Controllers.Offers.ViewModels.OffersOnPropertyViewModel

@{
    ViewBag.Title = "Offers on Your Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />

<p>Here you can see the offers that have been made on your property.</p>
<br />

<div class="row">
    <div class="col-sm-6">
        <p>
            <strong>Property type:</strong>
            @Model.PropertyType
            ,@Model.NumberOfBedrooms bedrooms
        </p>
    </div>
    <div class="col-sm-6">
        <p>
            <strong>Street name:</strong>
            @Model.StreetName
        </p>
    </div>
</div>

@if (Model.HasOffers)
{
    <p>There are @Model.Offers.Count() offers on this property...</p>
    <br />

    <div class="row">
        <div class="col-sm-3">
            <strong>Offer Amount</strong>
        </div>
        <div class="col-sm-3">
            <strong>Offer Made At</strong>
        </div>
        <div class="col-sm-3">
            <strong>Status</strong>
        </div>
        <div class="col-sm-3">
            <strong>Actions</strong>
        </div>
    </div>

    foreach (var offer in Model.Offers)
    {
        <hr />

        <div class="row">
            <div class="col-sm-3">
                £@offer.Amount
            </div>
            <div class="col-sm-3">
                @offer.CreatedAt.ToLongTimeString() on @offer.CreatedAt.ToShortDateString()
            </div>
            <div class="col-sm-3">
                @offer.Status
            </div>
            <div class="col-sm-3">
                @if (offer.IsPending)
                    {
                        using (Html.BeginForm("Accept", "Offers", FormMethod.Post, new { @class = "inline-block" }))
                        {
                        @Html.Hidden("PropertyId", Model.PropertyId)
                        @Html.Hidden("OfferId", offer.Id)
                        <p>
                            <input type="submit" class="btn btn-red mright5" value="Accept" />
                        </p>
                    }
                    using (Html.BeginForm("Reject", "Offers", FormMethod.Post, new { @class = "inline-block" }))
                    {
                        @Html.Hidden("PropertyId", Model.PropertyId)
                        @Html.Hidden("OfferId", offer.Id)
                        <p>
                            <input type="submit" class="btn btn-red" value="Reject" />
                        </p>
                    }
                }
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-info" role="alert">
        This property has no offers yet!
    </div>
}
